<a href="https://colab.research.google.com/github/deepshadow25/colab_class_activity/blob/main/300%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23

In [ ]:
string = '홀짝홀짝홀짝'
string[0:5:2] 
#[a:b:c] 미지정시 기본값 a-0(첫인덱스), b-끝인덱스, c-1(1개씩 건넘)
## [::-1] : 마지막 인덱스부터, 역순정렬의 의미

'홀홀홀'

In [ ]:
string = 'python'
string = string.upper()
string = string[::-1]
string

# 변수 지정을 해야 함. (string = string.upper() 와 같이)

'NOHTYP'

25

In [ ]:
phone_number = '010-1111-2222'
phone_number.replace('-', ' ')
phone_number.split('-')

# split
# replace

'010-1111-2222'

27

In [ ]:
url = "http://sharebook.kr"
url.rsplit('.')[1]

# lsplit, rsplit

'kr'

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a',"A")

'Abcdfe2A354A32A'

31

In [ ]:
a='3'
b='4'
print(a+b)

34

35

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %s" % (name1, age1))
print('이름: %s 나이: %s' % (name2, age2))

# {}.format의 old한 방식.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f'이름: {name2} 나이: {age2}')
# f-string : python 3.6 이상 버전부터 지원하는 formatting 방식

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
data = "   삼성전자    "
data.strip(' ')
#strip (좌우 공백제거)

'삼성전자'

In [ ]:
'hello'.capitalize()

'Hello'

In [ ]:
'보고서.xlsx'.endswith('xls')

False

In [ ]:
'2020_보고서_xlsx'.startswith('202')

True

51-64

65

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
interest[::2]

['삼성전자', 'Naver']

66-68 join

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join="/",interest

In [ ]:
string = '삼성전자/LG전자/Naver'
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data= data[::-1]
data

[10, 9, 5, 4, 3, 2, 1]

98

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
dic = zip(keys,vals)
dic = dict(dic)
dic

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
close_table

# zip에서 두 리스트/튜플 등의 길이가 다를때 : 짧은것에 맞춤.

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

114

In [ ]:
num = int(input("입력값 : "))
if num + 20 > 255:
    print("출력값 : 255")
else:
    print(f"출력값 : {num+20}")

입력값 : 234
출력값 : 254

118

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목명 = input("종목명:")
if 종목명 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:SAMSUNG
투자 경고 종목입니다.

119, 120

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

계절 = input("좋아하는 계절은?")
과일 = input("좋아하는 과일은?")

if 계절 in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

if 과일 in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 계절은?겨울
좋아하는 과일은?사과
오답입니다.
정답입니다.

In [ ]:
user = input()
if user.islower() == 1:
    print(user.upper())
else:
    print(user.lower())

A
a

In [ ]:
score = int(input())
if 80 < score <= 100:
    print("grade is A")
elif 60 < score <= 80:
    print('grade is B')
elif 40 < score <= 60:
    print('grade is C')
elif 20 < score <= 40:
    print('grade is D')
elif 0 < score <= 20:
    print('grade is E')
else:
    raise ValueError

-2

ValueError: ignored

In [ ]:
money_value = int(input("금액의 숫자를 입력하세요 : "))
currency = str(input("입력 : {} ".format(money_value)))

if currency == '달러':
    print(money_value * 1167, "원")
if currency == '유로':
    print(money_value * 1268 ,"원")
if currency == '엔':
    print(money_value * 1.096 ,"원")
if currency == '위안':
    print(money_value * 171 ,"원")    

# 문자열과 숫자열을 동시에 쓸 때는 +와 같은 문자를 쓸 수 없다.
## (형태가 같아야 함)

(금액을 입력하세요)4
입력 : 4 달러
4668 원

In [ ]:
number1=input('첫 번째 숫자를 입력하세요 : ')
number2=input('두 번째 숫자를 입력하세요 : ')
number3=input('세 번째 숫자를 입력하세요 : ')

numbers = [number1, number2, number3]
for i in range(len(numbers)):
    maxnum = max(numbers)
print(maxnum)

첫 번째 숫자를 입력하세요 : 2.4
두 번째 숫자를 입력하세요 : 2.7
세 번째 숫자를 입력하세요 : 2
2.7

In [ ]:
phn = str(input("휴대전화 번호 입력 : "))

if phn[2] == '1':
    print("당신은 SKT 사용자입니다.")
if phn[2] == '6':
    print('당신은 KT 사용자입니다.')
if phn[2] == '9':
    print('당신은 LGU 사용자입니다.')
if phn[2] == '0':
    print('알수없음')

휴대전화 번호 입력 : 010
알수없음

129

In [ ]:
jumin = str(input('주민등록번호 : '))
#
def jumin_last(jumin):
    for i in range(6):
        global a
        a += int(jumin[i])*(i+2)
    for j in range(2):
        global b
        b += int(jumin[j+7])*(j+7)
    for k in range(4):
        global c
        c += int(jumin[k+8])*(k+2)
    jumin_last = (a+b+c)%11
    return jumin_last

if int(jumin[13]) == int(jumin_last(jumin)):
    print("유효한 주민등록번호입니다.")
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호 : 821010-1635214
유효하지 않은 주민등록번호입니다.

IndexError: ignored

157

In [ ]:
리스트 = ['dog', 'cat', 'parrot']

for i in range(len(리스트)):
    print(리스트[i][0].upper() + 리스트[i][1:])

Dog
Cat
Parrot

158

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in range(len(리스트)):
    print(리스트[i].rsplit('.')[0])

hello
ex01
intro

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in range(len(리스트)):
    if (리스트[i].split('.')[1] == 'h') or (리스트[i].split('.')[1] == 'c'):
        print(리스트[i])
    else:
        continue

intra.h
intra.c
define.h

In [ ]:
summ = 0
for i in range(11):
    summ += i
print(f"합 : {summ}")

# a =+ b (양수 b) / a += b (누적합). 순서 중요함.

합 : 55

171-173

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-(i+1),price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)-1):
    print(100+10*i, price_list[i+1])

100 32150
110 32000
120 32500

180

In [ ]:
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
    
volatility

[50, 100, 30, 80, 0]

184

In [ ]:
stock = {'10/10' : [80,110,70,90], '10/11' : [210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

185

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j], '호')

# 아래의 for문도 똑같이 작동한다. 왜지?
#for i in apart: apart라는 리스트의 i번째 성분(내부 리스트)
#    for j in i: i(번째 내부 리스트)의 j번째 성분
#        print(j, '호')

# [i, j for j in i in apart, print(j,'호')]

SyntaxError: ignored

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

191-194

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    row = []
    result.append(i)
    for j in i:
        row.append(j*(1+1.4e-4))
    #print('-'*4)
result

[[2000, 3050, 2050, 1980],
 [7500, 2050, 2050, 1980],
 [15450, 15050, 15550, 14900]]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(len(ohlc[1:])):
    if ohlc[i+1][3] >= ohlc[i+1][0]:
        print(ohlc[i+1][3])

100
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in range(len(ohlc[1:])):
    volatility.append(ohlc[i+1][1]-ohlc[i+1][2])
    if ohlc[i+1][3] > ohlc[i+1][0]:
        print(volatility[i])

10

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# benefit = []
benefit=0
for i in range(len(ohlc[1:])):
    # benefit.append(ohlc[i+1][3] - ohlc[i+1][0])
    benefit += (ohlc[i+1][3] - ohlc[i+1][0])
benefit

0

201

In [ ]:
def print_coin():
    return '비트코인'

In [ ]:
print_coin()

'비트코인'

In [ ]:
for i in range(100):
    print_coin()

In [ ]:
def print_coins():
    for i in range(100):
        print('비트코인')
    return

In [ ]:
# hello()
#def hello():
#    print("Hi")
# 함수가 정의되기 전에 사용함. 즉, 정의되지 않은 함수를 호출하였기 때문.

In [ ]:
def message1():
    print("A")

def message2():
    print("B")
    message1() 
# message2() 함수 안에 message1() 함수가 들어가서 작동(A가 나온다.)

message2()

B
A

In [ ]:
def 함수(a, b) :
    print(a + b)

# 함수("안녕", 3) 정답지의 에러메시지가 틀림..

TypeError: ignored

In [ ]:
def print_with_smile(문자열):
    return 문자열+':D'

In [ ]:
print_with_smile('안녕하세요')

'안녕하세요:D'

In [ ]:
def print_upper_price(price):
    return price*1.3

In [ ]:
def print_sum(a, b):
    return a+b

In [ ]:
def print_arithmetic_operation(a, b):
    return a+b, a-b, a*b, a/b

In [ ]:
def print_max(a,b,c):
    if a>b>c or a>c>b:
        print(a)
    elif a<b and b>c:
        print(b)
    else:
        print(c)

In [ ]:
print_max(-3, -2, -1)

-1

221

11